*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 56px;
    padding: 8px 13px 0px 13px;
    top: 0;
    z-index: 3;
}
hr {
    position: relative;
    top: 60px;
}
.navleft {
    display: flex;
}
.search {
    position: relative;
    margin-top: 5px;
    left: 60px;
    top: 25px;
}
.search .fa-magnifying-glass {
    position: absolute;
    color: #606770;
    left: 11px;
    top: 8px;
    font-size: 13px;
}
.search input {
    border: none;
    margin-left: 5px;
   
    height: 30px;
    background-color: white;
    padding: 7px 16px 9px 36px;
    color: #606770;
    font-size: 15px;


}
.search input:focus {
    outline: none;
}
.navmiddle {
    border: 3px solid black;
    padding: 10px 45px 10px 45px;
    position: relative;
    top: 25px;
    right:100px;
    padding-top: 5px;
}
.navmiddle h3 {
    position: relative;
    left: -3px;
    top: 5px;
    color: #606770;
}
.navright { 
    display: flex;
    
}
.navright .fa-user {
    color: #606770;
    position: relative;
    top: 35px;
    right: 60px;
    transition: 0.7s ease;
}
.navright .fa-user:hover {
    font-size: 20px;
}

.navright .fa-heart {
    color: #606770;
    position: relative;
    top: 35px;
    right: 60px;
    margin-left: 10px;
     transition: 0.7s ease;

}
.navright .fa-heart:hover {
    font-size: 20px;
}

.navright .fa-cart-shopping {
    color: #606770;
    position: relative;
    top: 35px;
    right: 60px;
    margin-left: 10px;
     transition: 0.7s ease;
}
.navright .fa-cart-shopping:hover {
    font-size: 20px;
}

.navright .fa-circle {
    color: #8e0ac2;
    position: relative;
    top: 18px;
    right: 63px;
}
.navright div {
    color: white;
    font-size: 10px;
    position: relative;
    top: 20px;
    right: 73px;
}
.link {
    position: relative;
    top: 70px;
    left: 400px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 580px;
    position: relative;
    right: 50px;
}
.link a {
    text-decoration: none;
    color: #606770;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 9px;
}
.link .active {
    color: #8e0ac2;
}
.homeabout {
    background-color: #f0f0f0;
    position: relative;
    top: 110px;
    height: 50px;
   
}
.homeabout h3 {
    position: relative;
    top: 17px;
    font-size: 14px;
    left: 100px;
}
.homeabout span {
    color: #8e0ac2;
    margin-right: 5px;
}
.homeabout  .span2 {
    color: black;
    margin-left: 5px;
}
.cont2 {
    height: 600px;
    position: relative;
    top: 100px;
}
.select1 {
    position: relative;
    left: 900px;
    top: 50px;
    background-color: #e7e7e7;
    margin: 1px;
    padding: 5px 20px;
    color: black;
}
.shop-all{
position: relative;
    left: 300px;
    font-size: 11px;
    top: 20px;
}
.box1 {
    width: 200px;
    border: 1px solid #dddbdb;
    height: 140px;
    position: relative;
    left: 80px;
    padding: 10px 5px 10px 2px;
}
.box1 h4 {
    position: relative;
    top: 9px;
    left: 14px;
    font-size: 15px;
}
.box1 ul {
    position: relative;
    left: 13px;
    top: 15px;
}
.box1 .ul1 li {
    color: #8e0ac2;
    margin: 5px;
}
.box1 .ul2 li {
    position: relative;
    color: black;
    margin: 8px;
    left: 25px;
    font-size: 14px;
}
.box-cont {
    display: flex;
}
.box2 {
    width: 200px;
    border: 1px solid #dddbdb;
    height: 315px;
    position: relative;
    left: 80px;
    padding: 10px 5px 10px 2px;
    top: 10px;
}
.box2 h4 {
    position: relative;
    top: 9px;
    left: 11px;
    font-size: 15px;
}
.box2 input {
    
    top: 10px;
    position: relative;
    left: 10px;
}
.box2 h3 {
    font-size: 13px;
    color: #606770;
    position: relative;
    top: 10px;
    left: 12px;
}
.box2-2 {
    margin-top: 25px;
}
.box2-2 input {
    position: relative;
    left: 13px;
    margin-top: 8px;
}
.flex {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 88px;
}
.flex2 h5 {
    position: relative;
    left: 30px;
    top: -56px;
    margin-top: 8px;
    color: #606770;
}
.box2-3 h4 {
    position: relative;
    bottom: 20p;
    top: -34px;
    font-size: 15px;
    left: 12px;
}
.box2-3 i {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -35px;
    left: 7px;
    margin: 5px;
}
.box2-3 .fa-circle {
    color: red;
}
.box2-3 .fa-sharp {
    color: rgb(100, 243, 100);
}
.box2-3 #third {
    color: rgb(50, 50, 255);
}
.box2-3 #fourth {
    color: purple;
}
.flex3 {
    display: flex;
    flex-direction: column;
    color: #606770;
}
.box-cont1 {
    display: flex;
}
.flex3 {
    
    position: relative;
    right: 25px;
}
.flex3 h5 {
    margin: 3px;
    position: relative;
    top: -15px;
}
.cont4 {
    display: flex;
    justify-content: space-between;
    width: 900px;
    position: relative;
    bottom: 480px;
    left: 300px;
}
.first{
background-color: #fff;
    width: 282px;
    height: 320px;
    position: absolute;
    right:600px;
    cursor: pointer;
    top:80px;
    border: 2px solid #f0f0f0;
}
.first h3 {
    padding-top: 10px;
    color: rgb(142, 10, 194);
    font-size: 18px;
    position: relative;
    top: 15px;
    left: 90px;
}
.first p {
    color: #606770;
    position: relative;
    top: 17px;
    left: 58px;
    padding-top: 2px;
}
.first h5 {
color: #8e0ac2;
    font-size: 15px;
    position: relative;
    top: 22px;
    left: 120px;
}
.second
{
    background-color: #fff;
        width: 280px;
        height: 320px;
        position: absolute;
        right:300px;
        cursor: pointer;
        top:80px;
        border: 2px solid #f0f0f0;
    }
    .second h3 {
        padding-top: 30px;
        color: rgb(142, 10, 194);
        font-size: 18px;
        position: relative;
        top: 15px;
        left: 90px;
    }
    .second p {
        color: #606770;
        position: relative;
        top: 17px;
        left: 58px;
        padding-top: 2px;
    }
    .second h5 {
    color: #8e0ac2;
        font-size: 15px;
        position: relative;
        top: 22px;
        left: 120px;
    }
    .third{
        background-color: #fff;
            width: 282px;
            height: 320px;
            position: absolute;
            right:0px;
            cursor: pointer;
            top:80px;
            border: 2px solid #f0f0f0;
        }
        .third h3 {
            padding-top: 10px;
            color: rgb(142, 10, 194);
            font-size: 18px;
            position: relative;
            top: 15px;
            left: 90px;
        }
        .third p {
            color: #606770;
            position: relative;
            top: 17px;
            left: 58px;
            padding-top: 2px;
        }
        .third h5 {
        color: #8e0ac2;
            font-size: 15px;
            position: relative;
            top: 22px;
            left: 120px;
        }
        .cont10 {
            display: flex;
            display: flex;
            justify-content: space-between;
            width: 880px;
            position: relative;
            left: 320px;
            bottom: 50px;
        }
        .second-row {
            background-color: #fff;
            width: 282px;
            height: 320px;
            position: relative;
            border: 2px solid #f0f0f0;
            cursor: pointer;
        }
        #firstone h3  {
            
            padding-top: 30px;
            color: rgb(142, 10, 194);
            font-size: 18px;
            position: relative;
            top: 15px;
            left: 90px;
           
        }
        #firstone p {
            
                color: #606770;
                position: relative;
                top: 17px;
                left: 58px;
                padding-top: 2px;
            }
        #firstone h5 {
            color: #8e0ac2;
            font-size: 15px;
            position: relative;
            top: 22px;
            left: 120px;
        }
        #secondone h3  {
            
           
            color: rgb(142, 10, 194);
            font-size: 18px;
            position: relative;
            top: 23px;
            left: 98px;
           
        }
        #secondone p {
            
                color: #606770;
                position: relative;
                top: 27px;
                left: 58px;
                padding-top: 2px;
            }
        #secondone h5 {
            color: #8e0ac2;
            font-size: 15px;
            position: relative;
            top: 32px;
            left: 117px;
        }
        #thirdone h3  {
            
            padding-top: 10px;
            color: rgb(142, 10, 194);
            font-size: 18px;
            position: relative;
            top: 15px;
            left: 90px;
           
        }
        #thirdone p {
            
                color: #606770;
                position: relative;
                top: 17px;
                left: 58px;
                padding-top: 2px;
            }
        #thirdone h5 {
            color: #8e0ac2;
            font-size: 15px;
            position: relative;
            top: 22px;
            left: 120px;
        }
        #cont11 {
            margin-top: 30px;
        }
        #cont12 {
            margin-top: 30px;
        }
        .cateogry {
            height: 600px;
        }
        .cateogry h1 {
            display: flex;
            justify-content: center;
            position: relative;
            top: 80px;
        }
        .cateogry h1::before {
            content: "";
            border-bottom: 2px blueviolet solid;
            position: absolute;
            width: 33px;
            margin-top: -0.7em;
            margin-left: 0px;
        }
        .cont100 {
            display: flex;
            justify-content:center;
            align-items: center;
            position: relative;
            bottom: 0px;
            top: 150px;
        
        }
        .women img {
            width: 300px;
            transition: 0.7s ease;
            filter: brightness(80%);
        }
        .women img:hover {
            transform: scale(1.1);
        }
        .women h3 {
            position: relative;
            bottom: 58px;
            left: 30px;
            font-size: 21px;
            color: white;
        }
        .women p {
            position: relative;
            bottom: 65px;
            left: 35px;
            color: white;
            font-size: 12px;
        }
        .child img {
            width: 300px;
            margin-left: 30px;
            transition: 0.7s ease;
            filter: brightness(80%);
        }
        .child img:hover {
            transform: scale(1.1);
        }
        .child h3 {
            position: relative;
            bottom: 58px;
            left: 50px;
            font-size: 21px;
            color: white;
        }
        .child p {
            position: relative;
            bottom: 65px;
            left: 50px;
            color: white;
            font-size: 12px;
        }
        .men img {
            width: 300px;
            transition: 0.7s ease;
            margin-left: 30px;
            filter: brightness(80%);
            
        }
        .men img:hover {
            transform: scale(1.1);
           
        
        }
        .men h3 {
            position: relative;
            bottom: 58px;
            left: 50px;
            font-size: 21px;
            color: white;
            
        }
        
        .men p {
            position: relative;
            bottom: 65px;
            left: 50px;
            color: white;
            font-size: 12px;
        }
        footer {
            height: 500px;
            position: relative;
            top: 100px;
        }
        .hr100 
        {
            position: relative;
        }
        .foot-cont {
            display: flex;
        }
        .foot1 {
            margin-left: 70px;
            display: flex;
            
        }
        .foot1 h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .foot1 li {
            margin-top: 12px;
            color: #606770;
            cursor: pointer;
            width: 150px;
        }
        .foot2 {
            margin-left: 30px;
            position: relative;
            top: 32px;
        }
        .foot3 {
            margin-left: 100px;
            position: relative;
            top: 32px;
        }
        .foot-cont2 {
            margin-left: 30px;
        }
        .foot-cont2 h2 {
            margin-bottom: 20px;
            font-size: 20px;
        }
        .foot-cont2 h4 {
            color: #8e0ac2;
            margin-top: 10px;
            font-size: 15px;
        }
        .foot-cont2 p {
            color: #606770;
            font-size: 12px;
            margin-top: 5px;
        }
        .foot-cont3 {
            margin-left: 50px;
        }
        .foot-cont3 h2 {
            margin-bottom: 20px;
            font-size: 20px;
        }
        .foot-cont3 i {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            color: #8e0ac2;
        }
        .info1 {
            display: flex;
        }
        .info1 h4 {
            position: relative;
            top: 33px;
            left: 15px;
        }
        .info2 {
            display: flex;
        }
        .info2 h4 {
            position: relative;
            top: 38px;
            left: 15px;
        }
        .info3 {
            display: flex;
        }
        .info3 h4 {
            position: relative;
            top: 38px;
            left: 15px;
        }
        .subs {
            margin-top: 60px;
        }
        .subs input {
            width: 240px;
            height: 50px;
            
        }
        .subs button {
            background-color: #8e0ac2;
            padding: 15px 15px ;
            border: white;
            border-radius: 3px;
            position: relative;
            right: -163px;
            bottom: 50px;
        }
        .subs button h3 {
            color: #d1d0d0;
            letter-spacing: 1px;
            
        }
        .last {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            top: 60px;
            color: #606770;
            font-size: 15px;
        }
        .slash {
            rotate: -15deg;
            margin-left: 5px;
            margin-right: 5px;
        }
        .my {
            color: #8e0ac2;
            margin-left: 5px;
        }
        a {
            text-decoration: none;
        }